@charset "utf-8";

html {
  scroll-behavior:smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    transition: background-color .5s;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixeD;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: 600;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}



@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
    position: absolute;
  }
  #navbar a {
    float: left;
    display: block;
    text-align: left;
    width: max-content;
  }
  #navbar-right {
    float: none;
  }
}

.home_page {
    margin: 500px;
}

.sidenav {
  height: 100%;
  border-top-right-radius: 10px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 2s;
  padding-top: 60px;
  opacity: 95%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
}

.sidenav div {
  color: #ffffff;
  float: right; 
  color: white; 
  margin: 0 10px 0 10px; 
  width: 100%;
}

.sidenav .div {
  width: 100%;
}

.sidenav .image {
  width: 10%;
  height: auto;
  margin: 0 10px 0 0;
  float: left;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.divv {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.card {
  height: 350px;  
  float: left;  
  box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2);
  width: 320px;
  margin: 1% 1% 1% 1%;
  font-size: 15 px;  
  font-family: arial;
}

@media screen and (max-width: 750px) {
  .card {
    font-size: 10px;  
    max-width: 450px;
  }
}


.card #image {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-style: hidden;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    width: max-content;
}

.card h1 {
    font-size: 25px;
    margin: 0 0 0 5px;
}

.price {
  color: grey;
  font-size: 22px;
  float: right;
  margin: 5px 10px 5px 10px;
}

.card button {
  border-color: #04AA6D;
  border: 1px solid;
  border-radius: 3px;
  outline: 0;
  padding: 5px;
  margin: 20px 0px 15px 15px;
  color: black;
  text-align: center;
  cursor: pointer;
  width: max-content;
  font-size: 15px;
  background-color: white;
}

.card button:hover {
  border-style: none;
  opacity: 70%;
  color: rgb(0, 0, 0);
}
.card .divvv{
    height: max-content;
}

section {
    margin: 250px 10px 10px 10px;
}

section h1{
    font-size: 70px;
    padding: 0 0 50px 0;
    text-align: center;
    width: 100%;
}


.badge {
  background-color: red;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px 10px;
  text-align: center;
  margin-left: 5px;
}

.register {
  margin: 260px 0 0 30px;
  width: 50%;
  margin: auto;
  margin-top: 25%;
  background-color: rgb(238, 238, 238);
  padding: 20px;
  border-radius: 10px;
}

.loginn {
  background-color: rgb(238, 238, 238);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  margin-top: 25%;
}

.alert {
  background-color: rgba(255, 62, 62, 0.511);
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.signupp input:hover {
  background-color: rgb(18, 255, 18);
  color: white;
  border-style: none;
}

.contactt {
  background-color: rgb(244, 244, 244);
  margin: auto;
  margin-top: 25%;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
}

.submitted {
  width: 40%;
  margin: auto;
  margin-top: 25%;
}



input[type=text], input[type=password], input[type=submit], input[type=email] {
  width: 95%;
  padding: 12px 20px;
  margin: 10px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color:  #f8f8f8;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.submitted {
	background-color: rgba(0, 160, 0, 0.22);
	padding: 10px;
	text-align: center;
	color: green;
	border: 1px solid green;
	border-radius: 3px;
  width: 90%;
}

footer {
  background-color: #333;
  overflow: hidden;
  position:relative;
  bottom: 0;
  width: 100%;
}
footer #lic {
    color: white;
    width: 100%;
    text-align: center;
    float: left;

    font-weight: bold;
}

footer #contact {
  float: right;
}



/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgb(160, 160, 160); 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(0, 47, 255); 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(147, 147, 147); 
}
